/* Fonts */
@font-face {
    font-family: customFont;
    src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* Color pallete */
:root {
    --background-color: hsl(248, 15%, 11%);
    --main-dark-grey: hsl(248, 10%, 15%);
    --dark-text: hsl(251, 9%, 53%);
    --light-text: hsl(252, 11%, 91%);
    --lime-green: hsl(127, 100%, 82%);
    --pale-red: hsl(0, 91%, 63%);
    --pale-orange: hsl(13, 95%, 66%);
    --pale-yellow: hsl(42, 91%, 68%);
}


body {
    height: 97vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: customFont;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
h1,
h2,
h3 {
    color: var(--light-text);
}


/* THREE SMALLER CONTAINERS (for heading section, password section and main section) */

/* HEADING SECTION */
#heading-container {
    display: flex;
    justify-content: center;
    width: 540px;
    background-color: var(--background-color);
}

#heading-text {
    color: var(--dark-text);
}

/* PASSWORD SECTION */
#password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 540px;
    margin-bottom: 28px;
    background-color: var(--main-dark-grey);
}

#password-text {
    padding-left: 30px;
    font-size: 32px;
    line-height: 42px;
    color: var(--dark-text);
}

#copy-icon {
    padding-right: 30px;
    width: 21px;
    height: 24px;
    cursor: pointer;
}

#copy-icon:hover {
    filter: brightness(0) invert(1);
}

/* MAIN CONTENT SECTION */

#padding-container {
    display: flex;
    justify-content: center;
    max-height: 528px;
    height: 525px;
    width: 540px;
    background-color: var(--main-dark-grey);
}

#main-container {
    height: 100%;
    width: 480px;
}

/* character length line */
.character-length-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#character-text {
    font-size: 18px;
}

#character-number {
    font-size: 32px;
    color: var(--lime-green);
}

/* SLIDER*/
.slidecontainer {
    min-width: 100%;
}

/* slider customization */
#mySlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1em;
    background: linear-gradient(to right, var(--lime-green) 50%, var(--background-color) 50%);
}

/* slider thumb customization */
#mySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: var(--light-text);
    cursor: pointer;
}

/* slider on hover customization */
#mySlider::-webkit-slider-thumb:hover {
    width: 27px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--background-color);
    border-color: var(--lime-green);
}

/* CHECKBOX SECTION CUSTOMIZATION */

#checkbox-section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

/* checkbox + description text */
.checkbox-line {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    cursor: pointer;
}

/* margin text from checkboxes */
.checkbox-line-text {
    margin-left: 1.5em;
}

/* reseting default checkbox customization */
.checkbox-line input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* not checked state */
.checkmark {
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: var(--background-color);
    border: solid;
    border-width: 2px;
    border-radius: 1px;
    border-color: var(--light-text);
}

/* checked state */
.checkbox-line input:checked~.checkmark {
    background-color: var(--lime-green);
    border-color: var(--lime-green);
    background-image: url('../assets/images/icon-check.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.checkbox-line input:hover~.checkmark {
    border-color: var(--lime-green);
}

/* PASSWORD STRENGTH SECTION */

#password-strenght-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    margin-top: 1.5em;
    background-color: var(--background-color);
}

/* just a text (STRENGTH) */
#strength-text {
    margin-left: 1.5em;
    color: var(--dark-text);
    font-size: 18px;
}

/* Section of strength indicator bars and strength indicator text specifier */
#strength-indicator-section {
    margin-right: 1.5em;
    display: flex;
    justify-content: end;
    width: fit-content;
}

#strength-indicator-text {
    margin-right: 0.3em;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 500;
}

/* strength indicator bars container */
#strength-indicator-bars {
    display: flex;
    align-items: center;
}

/* strength indicator bars */

.strength-bar {
    width: 8px;
    height: 26px;
    margin-left: 0.4em;
    border: solid;
    border-width: 2px;
}

/* GENERATE BUTTON SECTION */

#generate-btn {
    width: 100%;
    height: 65px;
    margin-top: 1.5em;
    font-family: customFont;
    font-size: 18px;
    font-weight: 600;
    border: solid;
    border-width: 2px;
    border-color: var(--lime-green);
    background-color: var(--lime-green);
}

/* button hover */
#generate-btn:hover {
    background-color: var(--main-dark-grey);
    color: var(--lime-green);
}

/* arrow icon padding */
#arrow-icon {
    padding-left: 1em;
}

/* turning arrow icon lime green on button hover */
#generate-btn:hover #arrow-icon {
    filter: invert(76%) sepia(10%) saturate(804%) hue-rotate(72deg) brightness(120%) contrast(101%);
}