/* Fonts */
@font-face {
    font-family: customFont;
    src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* Color pallete */
:root {
    --background-color: hsl(248, 15%, 11%);
    --main-dark-grey: hsl(248, 10%, 15%);
    --dark-text: hsl(251, 9%, 53%);
    --light-text: hsl(252, 11%, 91%);
    --lime-green: hsl(127, 100%, 82%);
    --pale-red: hsl(0, 91%, 63%);
    --pale-orange: hsl(13, 95%, 66%);
    --pale-yellow: hsl(42, 91%, 68%);
}


body {
    height: 97vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: customFont;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
h1,
h2,
h3 {
    color: var(--light-text);
}

/* Whole content container */
#content-container {
    height: 600px;
    width: 490px;
}

/* THREE SMALLER CONTAINERS (for heading section, password section and main section) */

/* HEADING SECTION */
#heading-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
}

#heading-text {
    color: var(--dark-text);
}

/* PASSWORD SECTION */
#password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom:28px;
    padding: 0 1.5em;
    background-color: var(--main-dark-grey);
}

#password-text {
    font-size: 32px;
    line-height: 42px;
}

#copy-icon {
    width: 21px;
    height: 24px;
}

/* MAIN CONTENT SECTION */
#main-container {
    max-height: 528px;
    height: 65vh;
    width: 100%;
    padding: 0 1.5em;
    background-color: var(--main-dark-grey);
}

.character-length-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#character-number{
    color:var(--lime-green);
}

/* SLIDER */
.slidecontainer {
    min-width: 100%;
}

/* slider customization */
#mySlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 2em;
    height: 9px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1em;
    background: linear-gradient(to right, var(--lime-green) 50%, var(--background-color) 50%);
}

/* slider thumb customization */
#mySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: var(--light-text);
    cursor: pointer;
}

/* slider on hover customization */
#mySlider::-webkit-slider-thumb:hover {
    width: 27px;
    border-style: solid;
    border-width: 2px;
    background-color: var(--background-color);
    border-color: var(--lime-green);
}

/* media querries */
@media(max-width:800px) {
    body {
        background-size: auto;
    }

    #mySlider {
        height: 8px;
    }

    #mySlider::-webkit-slider-thumb {
        width: 45px;
    }

}

@media(max-width:400px) {
    #mySlider::-webkit-slider-thumb {
        width: 40px;
    }
}

@media(max-width:300px) {
    #mySlider::-webkit-slider-thumb {
        width: 35px;
    }
}